.navbar {
  background-color: #800000;
  display: flex;
  align-items: center;
}
.navbar a {
  font-size: 20px;
  color: #FFFF;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.body {
  background-color: #FFE4B5;
  margin: 0px;
  font-family: arial;
}
.page {
  margin: 0px 15px;
}
table {
  border-spacing: 30px;
  border: 1px solid black;
}
table a {
  color: #000000;
}
